head
    meta(
        name="viewport",
        content="width=device-width, user-scalable=no"
    )
    meta(
        http-equiv="Content-Security-Policy",
        content="default-src 'self'; img-src *; frame-src *; script-src-elem *"
    )
    link(rel="stylesheet", href="css/style.css")